.chatContainer {
  position: fixed;
  right: 50px;
  bottom: 0;
  display: flex;
}
.chatBox {
  width: 260px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #2c65c8;
}
.chatInfo {
  color: white;
  background: #2c65c8;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.chatInfo .heading {
  display: flex;
  font-size: 18px;
  align-items: center;
}
.chatInfo .heading p {
  margin-left: 10px;
}

.chatUsersWrapper {
  padding-right: 10px;
  background: white;
}
/* Chat Users display none by default */
.chatUsers {
  display: none;
  height: 250px;
  overflow-y: scroll;
  font-size: 14px;
}
.chatUsers::-webkit-scrollbar {
  width: 0.4em;
}
.chatUsers::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 20px;
}

.chatUsers.usersBoxActive {
  display: block;
}
.chatUserWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
}
.chatUser {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.chatUser img {
  margin-right: 10px;
  border-radius: 50%;
}
.online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.online.gray {
  background: #bcbcbc;
}

.online.green {
  background: #0fbb3d;
}

@media only screen and (max-width: 750px) {
  .chatBox {
    width: 180px;
  }
  .chatContainer {
    right: 10px;
    bottom: 5px;
  }
}
