.comingSoon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}
.comingSoon h1 {
  font-size: 90px;
  font-weight: bold;
  color: #eeeeee;
  text-align: center;
}
